*{
    margin: 0;
    padding: 0;
}

.appdiv{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.appdiv h1{
 
    text-align: center;
    width: 100%;
}
.usersBlock{
    margin: auto;
    border: 1px solid gray;  
    width: 80%;
    margin-top: 20px;
    padding: 20px;
    
}
.usersBlock p{
    font-size: 26px;
}


.buttonLine{
    margin-top: 20px;
    
    width: 100%;
    text-align: center;
    
}
.buttonLine button{
    padding: 7px 5px;
    margin: 0px 10px;
    background-color: rgb(34, 27, 128);
    color: white;
    font-weight: bold;
    cursor: pointer;

}

